.body {
  position: relative;
  left: 11.5em;
  top: 8.5em;
  bottom: 10em;
  width: 75%;
  height: 75vh;
  overflow: auto;
  white-space: nowrap;
}

.photo {
  height: 90%;
  width: auto;
  padding-right: 5px;
}

p {
  margin: 0;
  margin-bottom: 5px;
}
