<div class="body">
  <p>scenes that made me take a step back</p>

  <img
    class="brian photo"
    src="../assets/images/observations/brian.jpg"
    alt="photo of brian talking expressively"
  />
  <img
    class="hand-can photo"
    src="../assets/images/observations/hand-can.jpg"
    alt="photo of hand holding beer can"
  />
  <img
    class="molly-door photo"
    src="../assets/images/observations/molly-door.jpg"
    alt="photo of molly opening a door"
  />

  <img
    class="indian-food photo"
    src="../assets/images/observations/indian-food.jpg"
    alt="photo of food on the ground"
  />
  <img
    class="erin-wings photo"
    src="../assets/images/observations/erin-wings.jpg"
    alt="photo of erin at a restaurant"
  />
  <img
    class="kyle-van photo"
    src="../assets/images/observations/kyle-van.jpg"
    alt="photo of kyle and van looking over mountains"
  />
  <img
    class="chris-vanessa photo"
    src="../assets/images/observations/chris-vanessa.jpg"
    alt="photo of chris and vanessa in front of colorful doors"
  />
  <img
    class="trash photo"
    src="../assets/images/observations/trash.jpg"
    alt="photo of a trash can"
  />
</div>
