.body {
  position: relative;
  left: 2.5%;
  width: 95%;
  height: 80vh;
  overflow: auto;
  white-space: nowrap;
}

.image {
  height: 95.8%;
  width: auto;
  padding: 1.5% 1% 1.5% 0;
}

p {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .body {
    position: relative;
    left: 11.5em;
    top: 8.5em;
    bottom: 10em;
    width: 75%;
    height: 75vh;
  }
  .image {
    height: 95%;
    width: auto;
    padding: 1% 1% 1% 0;
  }
} ;
