<div class="body">
  <img class="self" src="../assets/images/self.jpg" alt="portrait of garret" />
  <p>
    i am a midwestern photographer,
    <a href="https://github.com/garretlbc" target="_blank">web developer</a>,
    and
    <a href="https://soundcloud.com/garretjustus" target="_blank">musician</a>
  </p>
  <p>
    <a href="http://instagram.com/garretjustus" target="_blank">instagram</a> /
    <a href="https://www.linkedin.com/in/garretjustus" target="_blank"
      >linkedin</a
    >
    /
    <a href="mailto:garretcabello@gmail.com">email</a>
  </p>

  <p>
    photo taken by
    <a href="https://bain-creative.com" target="_blank">chris bain</a>
  </p>
</div>
