.body {
  position: relative;
  left: 2.5%;
  top: 0.32em;
  width: 95%;
  height: 75vh;
  text-align: center;
  font-family: "prestige-elite-std";
  overflow: auto;
  white-space: wrap;
}

p {
  margin: 0;
  margin-top: 5px;
}

.self-square {
  height: auto;
  width: 80%;
}

.self {
  display: none;
}

a {
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  transform: skewX(-10deg);
}

.credit {
  padding-bottom: 2px;
}

br {
  size: 2px;
}

@media only screen and (min-width: 350px) {
  .self-square {
    height: auto;
    width: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .self-square {
    height: auto;
    width: 412px;
  }
}

@media only screen and (min-width: 768px) {
  .body {
    position: relative;
    left: 11.5em;
    top: 9em;
    bottom: 10em;
    width: 75%;
    height: 75vh;
    text-align: start;
  }
  .mobile-breaks {
    display: none;
  }

  .self-square {
    display: none;
  }

  .self {
    width: auto;
    height: 350px;
    display: inline;
  }
}

@media only screen and (min-width: 850px) {
  .self {
    width: auto;
    height: 400px;
  }
} ;
