<div class="body">
  <img
    class="self image"
    src="../assets/images/about/self.jpg"
    alt="portrait of garret"
  />
  <img
    class="self-square image"
    src="../assets/images/about/self-square.jpg"
    alt="portrait of garret"
  />
  <p>hello 👋</p>
  <br class="mobile-breaks" />

  <p>
    i am a midwestern photographer,
    <a href="https://github.com/garretlbc" target="_blank">web developer</a>,
    and
    <a href="https://soundcloud.com/garretjustus" target="_blank">musician</a>
  </p>
  <br class="mobile-breaks" />
  <p>
    <a href="http://instagram.com/garretjustus" target="_blank">instagram</a> /
    <a href="https://www.linkedin.com/in/garretjustus" target="_blank"
      >linkedin</a
    >
    /
    <a href="mailto:garretcabello@gmail.com">email</a>
  </p>
  <br />

  <p class="credit">
    photo by
    <a href="https://bain-creative.com" target="_blank">chris bain</a>
  </p>
</div>
