<ul class="list nav-bar">
  <li class="hover">
    <a routerLink="/portraits" class="portraits li" routerLinkActive="active"
      >portraits</a
    >
    <span class="hovertext">strange friends and friendly strangers</span>
  </li>
  <li class="hover">
    <a
      routerLink="/observations"
      class="observations li"
      routerLinkActive="active"
      >observations</a
    >
    <span class="hovertext">taking a step back</span>
  </li>
  <li class="hover">
    <a class="product li" routerLink="/product" routerLinkActive="active"
      >product</a
    >
    <span class="hovertext">taking a closer look</span>
  </li>
  <li class="hover">
    <a routerLink="/about" class="about li hover" routerLinkActive="active"
      >about</a
    >
    <span class="hovertext">keep in touch</span>
  </li>

  <li class="lightswitch">
    <a id="light" class="on light">light</a>
    /
    <a id="dark" class="dark">dark</a>
  </li>
</ul>
