.list {
  position: fixed;
  left: 5px;
  top: 8em;
  text-decoration: none;
  list-style: none;
}

.portraits:hover {
  cursor: crosshair;
}

.studio:hover {
  cursor: zoom-in;
}

.observations:hover {
  cursor: zoom-out;
}

.about:hover {
  cursor: help;
}
