<ul class="list nav-bar">
  <li>
    <a routerLink="/portraits" class="portraits li" routerLinkActive="active"
      >portraits</a
    >
  </li>
  <li>
    <a
      routerLink="/observations"
      class="observations li"
      routerLinkActive="active"
      >observations</a
    >
  </li>
  <li>
    <a class="studio li" routerLink="/studio" routerLinkActive="active"
      >studio</a
    >
  </li>
  <li>
    <a routerLink="/about" class="about li" routerLinkActive="active">about</a>
  </li>
  <!-- <li class="lightswitch">light / dark</li> -->
</ul>
