<div class="body">
  <p>strange friends and friendly strangers</p>
  <img
    class="chris portrait"
    src="../assets/images/portraits/chris.jpg"
    alt="portrait of chris"
  />
  <img
    class="sarah-birthday portrait"
    src="../assets/images/portraits/sarah-birthday.jpg"
    alt="portrait of sarah at a bar"
  />
  <img
    class="molly-chase portrait"
    src="../assets/images/portraits/molly-chase.jpg"
    alt="portrait of molly and chase"
  />
  <img
    class="sam portrait"
    src="../assets/images/portraits/sam.jpg"
    alt="portrait of sam"
  />
</div>
