<div class="body">
  <!-- <p>strange friends and friendly strangers</p> -->
  <img
    class="chris image"
    src="../assets/images/portraits/chris.jpg"
    alt="portrait of chris"
  />
  <img
    class="andrew image"
    src="../assets/images/portraits/andrew.jpg"
    alt="portrait of andrew"
  />
  <img
    class="molly-bowling image"
    src="../assets/images/portraits/molly-bowling.jpg"
    alt="portrait of chris"
  />
  <img
    class="sarah-birthday image"
    src="../assets/images/portraits/sarah-birthday.jpg"
    alt="portrait of sarah at a bar"
  />

  <img
    class="denisse image"
    src="../assets/images/portraits/denisse.jpg"
    alt="portrait of denisse outside"
  />

  <img
    class="molly-chase image"
    src="../assets/images/portraits/molly-chase.jpg"
    alt="portrait of molly and chase"
  />
  <img
    class="sam image"
    src="../assets/images/portraits/sam.jpg"
    alt="portrait of sam"
  />
  <img
    class="erin-wings image"
    src="../assets/images/portraits/erin-wings.jpg"
    alt="photo of erin at a restaurant"
  />
  <img
    class="hailey-backyard image last-image"
    src="../assets/images/portraits/hailey-backyard.jpg"
    alt="portrait of hailey"
  />
</div>
